html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: "proxima-nova",sans-serif;
	color: #424242;
}
body, p, ul, ol {
	font-weight: normal;
	line-height: 1.7em;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}
.fixed-nav-wrapper {
	width: 100%;
	background: white;
	z-index: 1;
	position: fixed;
	top: -100%;
	left: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	transition: all 0.65s;
	-webkit-transition: all 0.65s;
}
.fixed-nav-wrapper .fixed-nav {
	margin: 0;
	text-transform: uppercase;
	float: left;
	margin-left: 24px;
}
.fixed-nav-wrapper.show {
	top: 0;
	transition: all 0.65s;
	-webkit-transition: all 0.65s; 
}
.fixed-subscribe {
	float: right;
	margin-top: 10px;
	margin-right: 24px;
}
.fixed-subscribe form {
	margin: 0;
}
.site {
	margin: 0 auto;
	padding: 50px;
}
.page {
	max-width: 1100px;
	margin: 0 auto;
}
.hero {
	text-align: center;
}
.hero {
	text-transform: uppercase;
	padding-bottom: 40px;
}
.hero-title {
	color: #55b2a7;
	font-family: "aktiv-grotesk-std";
	font-weight: 300;
	letter-spacing: 0.125em;
	font-size: 80px;
	margin: 0 auto 28px;
	line-height: 1em;
}
.splash {
	width: 800px;
}
.tagline {
	letter-spacing: 0.6428571428571429em;
	max-width: 750px;
	line-height: 1.8em;
	font-weight: 400;
	font-size: 14px;
	color: #666;
	margin: 0 auto 28px;
}
.content {
	max-width: 800px;
	margin: 0 auto;
}
.content p {
	margin: 0 0 28px;
	font-family: "proxima-nova";
	line-height: 1.7em;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}
.page-nav {
	margin: 0;
	list-style-type: none;
	font-size: 13px;
	line-height: 1.5em;
	letter-spacing: 2px;
	padding: 28px 0;
}
.page-nav li {
	display: inline;
	text-align: center;
}
.page-nav li a {
	color: #55b2a7;
	text-decoration: none;
	padding: 0 .8em;
}
.page-nav li.active a {
	color: #424242;
}
.page-nav li a:hover {
	color: #666;
	text-decoration: none;
}
.mission {
	font-style: italic; 
	font-weight: 300; 
	font-size: 26px;
	line-height: 1.3em;
	margin: 0 0 28px;
	padding: 14px 0;
	text-align: left;
}
.hr-wrapper {
	padding: 14px 0;
}
hr {
	display: block;
	border: none;
	color: #bbb;
	background-color: #bbb;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}
.mission,
.story {
	color: #e7917e;
}
.content .story {
	font-size: 18px;
	margin: 0 40px 28px;
}
.successes {
	margin: 1em 0;
	padding: 0 0 0 40px;
}
.successes li {
	font-style: italic;
}
.newsletter {
	text-align: center;
	width: 100%;
	padding: 34px 17px;
	background: rgba(247,247,247,0);
	color: #272727;
	font-size: 15px;
}
.newsletter form {
	padding: 12px 0 20px;
}
.newsletter h2 {
	margin: 0 0 17px 0;
	padding: 0;
	color: #272727;
	font-size: 30px;
	line-height: 1.2em;
	font-weight: 600;
}
.newsletter-footnote {
	opacity: .8;
	margin: 17px 0;
	margin-bottom: 0;
	padding: 0;
	color: #272727;
	font-size: 12px !important;
	line-height: normal;
}
.field-wrapper {
	display: inline-block;
	width: auto;
}
.email-field {
	padding: 1em;
	background: #fff;
	border: 1px solid rgba(0,0,0,.12);
	font-family: inherit;
	font-size: 15px;
	line-height: normal;
	outline: none;
	min-width: 250px;
}
button {
	background-color: #fff;
	margin: 0;
	vertical-align: baseline;
	border: 2px solid #272727 !important;
	font-size: 15px;
	line-height: normal;
	font-weight: normal;
	white-space: nowrap;
	font-family: inherit;
	text-transform: uppercase;
	display: inline-block;
	width: auto;
	height: auto;
	padding: 1em 2.5em;
	border-width: 0;
	text-align: center;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
}
button:hover {
	background-color: #272727;
	color: #fff;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #aaa;
    font-weight: 300;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #aaa;
    opacity:  1;
    font-weight: 300;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #aaa;
    opacity:  1;
    font-weight: 300;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #aaa;
    font-weight: 300;
}